<ion-view view-title="A propos">
    <ion-content has-header="true" padding="true">

        <div class="list card">
            <div class="item item-image">
                <img src="img/flower.png">
            </div>
        </div>

        <h1 class="title">A propos</h1>
        <p>Cette application a pour but de voir l'évolution de ses plantes grâce aux capteurs FlowAir©</p>
        <p>Le capteur permet de récuperer des données telles que la temperature, l'humidité de la terre ou encore la luminosité</p>
        <p>Grace a des procédés performants, les données collectées sont aggrégés et enrichies pour que vous sachiez en temp réel l'état de vos plantes</p>
        <p>Cet outil perfomant vous donnera le pouce vert et l'envie de jardiner au jour le jour</p>

        <h1 class="title">L'equipe</h1>
        <p>Le prototype a été conçu par une équipe de ninjas du code afin d'avoir un produit unique pour satisfaire vos besoins</p>

    </ion-content>
</ion-view>