<ion-view view-title="Mon jardin">
    <ion-content has-header="true" padding="true">

        <ion-refresher
                pulling-text="Tirer pour rafraîchir..."
                on-refresh="doRefresh()">
        </ion-refresher>

        <h1>{{flower.alias}}</h1>
        <h5>dernière mise à jour {{flower.current['updated']}}</h5>

        <div class="list card">
            <div class="item item-divider">Temperature (C°)</div>
            <div class="item item-body">
                <nvd3-stacked-area-chart
                        data="dataTemperature"
                        height="350"
                        showXAxis="true"
                        showYAxis="true"
                        color="colorTemperature()"
                        xAxisTickFormat="xAxisTickFormatFunction()">
                </nvd3-stacked-area-chart>
            </div>
        </div>

        <div class="list card">
            <div class="item item-divider">Humidité (%)</div>
            <div class="item item-body">
                <nvd3-stacked-area-chart
                        data="dataMoisture"
                        height="350"
                        showXAxis="true"
                        showYAxis="true"
                        color="colorMoisture()"
                        xAxisTickFormat="xAxisTickFormatFunction()">
                </nvd3-stacked-area-chart>
            </div>
        </div>

        <div class="list card">
            <div class="item item-divider">Luminosité (lumen)</div>
            <div class="item item-body">
                <nvd3-stacked-area-chart
                        data="dataBrightness"
                        height="350"
                        showXAxis="true"
                        showYAxis="true"
                        color="colorBrightness()"
                        xAxisTickFormat="xAxisTickFormatFunction()">
                </nvd3-stacked-area-chart>
            </div>
        </div>

        <div class="button-bar">
            <a href="#/app/garden/{{GardenItemId}}" class="button button-calm">Infos</a>
            <a href="#/app/garden/{{GardenItemId}}/stats" class="button button-calm active">Stats</a>
            <a href="#/app/garden/{{GardenItemId}}/edit" class="button button-calm">Edition</a>
        </div>

    </ion-content>
</ion-view>